In [1]:
import pandas as pd

num_series = pd.Series([1, 2, 3, 4, 5])
num_df = pd.DataFrame([1, 2, 3, 4, 5])

### series와 dataframe 차이

In [3]:
# series
num_series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
# dataframe
num_df

   0
0  1
1  2
2  3
3  4
4  5

### index 명시하기

In [6]:
num_series = pd.Series([1, 2, 3, 4, 5], index=["index_0", "index_1", "index_2", "index_3", "index_4", ])
num_df = pd.DataFrame([1, 2, 3, 4, 5], index=["index_0", "index_1", "index_2", "index_3", "index_4", ])

In [7]:
num_series

index_0    1
index_1    2
index_2    3
index_3    4
index_4    5
dtype: int64

In [8]:
num_df

         0
index_0  1
index_1  2
index_2  3
index_3  4
index_4  5

In [11]:
num_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, index_0 to index_4
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      int64
dtypes: int64(1)
memory usage: 80.0+ bytes